.blue-purple {
    background-color: #9DACFF;
}

.landing-page {
    background-image: linear-gradient(#5C2751 25%, #7b4394 100%);
    min-height: 90vh;
}

.event-img {
    max-width: 23vw;
    max-height: 15vw;
    margin: auto;
}

.card {
    max-width: 22vw;
    color: black;
    margin: 1vw;
    padding: 0;
}

.event-info {
    padding: 2px;
}

.sign-up-form {
    position: fixed;
    background-color: rgb(104, 180, 155);
    margin: auto;
    width: 40vw;
    left: 30vw;
    top: 10vh;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 0 50px #000000;
}

#organizer-new-event-form {
    padding-top: 20px;
    width: 50vw;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

label {
    margin-bottom: -5px;
}